<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
  </configSections>
  <dataConfiguration defaultDatabase="SqlServer" />
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=192.168.10.156;Initial Catalog=fanhuansqlserver;uid=sa;password=123456;" providerName="System.Data.SqlClient" />
    <add name="fh_auxiliary" connectionString="Data Source=192.168.10.156;Initial Catalog=fh_auxiliary;uid=sa;password=123456;" providerName="System.Data.SqlClient" />
    <add name="fh_log" connectionString="Data Source=192.168.1.221;Initial Catalog=fh_logs;uid=sa;password=123456;" providerName="System.Data.SqlClient" />
    <add name="Job_Center" connectionString="Data Source=192.168.10.158;Initial Catalog=JobCenter;User ID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <!-- For redis host begin -->
    <add key="RedisConnectionAuth" value="fanhuan" />
    <add key="pc-redis-w" value="192.168.1.18:6370" />
    <add key="pc-redis-r" value="192.168.1.18:6370" />
    <add key="app-redis-w" value="192.168.1.18:6370" />
    <add key="app-redis-r" value="192.168.1.18:6370" />
    <add key="common-redis-w" value="192.168.1.18:6370" />
    <add key="common-redis-r" value="192.168.1.18:6370" />
    <add key="login-pc-redis-w" value="192.168.30.5:6379" />
    <add key="login-pc-redis-r" value="192.168.30.5:6379" />
    <!-- For redis host end -->
    <!--性能跟踪工具配置值，用于跟踪程序的运行时间，以毫秒为单位，-1为禁用-->  
    <add key="PerformanceTracer" value="-1"/>  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>